/*GLOBAL*/
* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EDF5FC;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

/*HEADER*/
.header {
	display: flex;
	justify-content: center;
	height: 15vh;
	background-color: white;
}

.search_bar {
	align-self: center;
 	padding: 5% 0;	
}

input {
	width: 70vw;
	padding: 10px;
	border: 0;
	border-left: dotted lightgrey 3px;
	border-right: dotted lightgrey 3px;
	color: #272D2D;
	text-align: center;
	font-size: calc(16px + 1vw);
	font-weight: bold;
	letter-spacing: 2px;
	transition: border 1s;
}

input:focus {
	outline: 0;
	text-align: left;
	border-bottom: solid lightgrey 3px;
	border-left: none;
	border-right: none;
}

input::placeholder {
	text-align: center;
	transition: 0.5s;
}

input:focus::placeholder {
	color: lightgrey;
	font-size: 15px;
}

/*MAIN*/
.grid {
    height: 75vh;
    overflow: scroll;
}

.grid_image {
	text-align: center;	
	width: 60%;
	margin: 55px auto;
	padding: 5px;
	border: solid #A39BA8 7px;
}

.thumb {
	width: 100%;
}

/*FOOTER*/
.foot {
	display: flex;
	justify-content: center;
	height: 10vh;
	background-color: white;
}

.info {
	text-align: center;	
	align-self: center;	
	padding: 2% 0;
}

.foot p {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 0;
}

span {
	font-size: 9px;
	letter-spacing: 3px;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}