.grid_image {
	margin: 150px auto;
	padding: 10px;
	border: solid #A39BA8 7px;
}

.thumb {
	width: 100%;
}

/*FOOTER*/
.foot {
	height: 10%;
    padding-top: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
}

.foot p {
	font-size: 30px;
	letter-spacing: 5px;
}

.foot p:nth-child(2) {
	font-size: 20px;
}


/*MEDIA QUERIES*/
/*IPHONE X*/
@media (min-width: 375px) {
	.header {
		padding-top: 90px;
	}

	.grid {
		width: 60%;
		top: 318px;
	}

	.foot {
		padding-top: 30px;
	}
}

/*@media screen and (min-width: 768px and max-width: 1365px) {
	input {
		width: 550px;
	}

	.grid {
		max-width: 1024px;
	}

	.grid_image {
		width: 33%;
	}

	.grid_forth:nth-of-type(n + 4) {
		margin-top: 40px;
	}
}

@media screen and (min-width: 1366px) {
	input {
		width: 550px;
	}

	.grid {
		max-width: 1024px;
	}

	.grid_image {
		width: 25%;
	}

	.grid_forth:nth-of-type(n + 5) {
		margin-top: 40px;
	}
}*/


/*input {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	border: solid lightgrey 2px;
	border-radius: 7px;
	font-size: 60px;
	font-weight: bold;
}*/



/*JAVASCRIPT SETTINGS*/
/*STICKY*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .grid {
  padding-top: 102px;
}

.sticky input {
  width: 70%;
}