/*GLOBAL*/
* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EDF5FC;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

/*HEADER*/
.header {
	display: flex;
	justify-content: center;
	height: 15vh;
	background-color: white;
}

.search_bar {
	align-self: center;
 	padding: 5% 0;	
}

input {
	width: 70vw;
	padding: 10px;
	border: 0;
	border-left: dotted lightgrey 3px;
	border-right: dotted lightgrey 3px;
	color: #272D2D;
	text-align: center;
	font-size: calc(16px + 1vw);
	font-weight: bold;
	line-height: 1.35;
	letter-spacing: 2px;
	transition: border 1s;
}

input:focus {
	outline: 0;
	text-align: left;
	border-bottom: solid lightgrey 3px;
	border-left: none;
	border-right: none;
}

input::placeholder {
	text-align: center;
	transition: 0.5s;
}

input:focus::placeholder {
	color: lightgrey;
	font-size: 15px;
}

/*MAIN*/
.grid {
	padding: 0;
	margin: 0;
	height: 75vh;
	overflow: auto;
}

.container {
	width: 60%;
	margin: 0 auto;
}

.grid_image {
	margin: 55px auto;
	padding: 5px;
	border: solid #A39BA8 7px;
	transition: box-shadow 0.3s;
}

.grid_image:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumb {
	display: block;
	width: 100%;
}

/*FOOTER*/
.foot {
	display: flex;
	justify-content: center;
	height: 10vh;
	background-color: white;
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;	
	align-self: center;
}

.foot p {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 0;
}

.foot span {
	font-size: 9px;
	letter-spacing: 3px;
	padding-top: 2%;
}


/*LIGHTBOX OPTIONS*/
.lightbox .lb-image {
	border-radius: 0;
}

/*X button*/
.lb-data .lb-close {
	position: fixed;
	left: calc(50% - 15px);
	top: calc(81% - 15px);
}

.lb-data .lb-number {
	display: none !important;
}

/*captions positioning*/
.lb-data .lb-details {
	padding-top: 20px;
	width: 100%;
}

/*arrows settings*/
.lb-nav a.lb-prev {
	left: 10vw;
}

.lb-nav a.lb-next {
	right: 10vw;
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
	height: 10%;
	position: fixed;
	top: 75vh;
	width: 70px;
	opacity: 1;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
	input {
		width: 50vw;
	}

	.grid_image {
		float: left;
		width: 45%;
	}

	.grid_image:nth-child(2n) {
		margin-left: 10%;
	}

	.foot p {
		font-size: 15px;
		letter-spacing: 7px;
	}

	.foot span {
		font-size: 12px;
		letter-spacing: 5px;
	}

	.lb-data .lb-close {
		left: 48vw;
	}

	.lb-data .lb-details {
		float: none;
		width: 60%;
    	margin: 0 auto;
	}
}

@media screen and (min-width: 1024px) {
	input {
		font-size: 30px;
		padding: 5px;
	}

	.grid_image {
		width: 30%;
	}

	.grid_image:nth-child(2n) {
		margin-left: 0;
	}

	.grid_image:nth-child(3n+2) {
		margin-left: 5%;
		margin-right: 5%;
	}		

	.lb-data .lb-close {
		display: initial;
	}
}

@media screen and (min-width: 1366px) {
	input {
		width: 30vw;
	}

	.container {
		max-width: 1024px;
	}

	.grid_image {
		width: 20%;
	}

	.grid_image:nth-child(3n+2) {
		margin-left: 0;
		margin-right: 0;
	}

	.grid_image:nth-child(4n+2) {
		margin-left: 5%;
		margin-right: 2.5%;
	}

	.grid_image:nth-child(4n+3) {
		margin-left: 2.5%;
		margin-right: 5%;		
	}

	/*captions positioning*/
	/*.lb-data .lb-details {
		padding-top: 20px;
	}*/

	.lb-data .lb-close {
		position: fixed;
		top: 1vh;
		right: 1vw;
		left: initial;
	}
	
	.lb-nav a.lb-next,
	.lb-nav a.lb-prev {
		top: 35vh;
	}
}





.clearfix::after {
  content: "";
  clear: both;
  display: table;
}